.piso {
  position: relative;
  text-align: center;
  padding: 32px;
}

.piso h3 {
  font-size: 32px;
  border-bottom: 4px solid;
  display: inline-block;
  padding-bottom: 8px;
}

.piso .veiculos {
  display: flex;
  justify-content: space-around;
  margin-top: 32px;
  gap: 10px;
  overflow-x: auto;
  padding: 20px;
}

.input-cor {
  position: absolute;
  top: 20px;
  right: 65px;
}
