.rodape {
  background: #1d69b4;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
}

.rodape ul li {
  display: inline-block;
  margin-right: 32px;
}

.rodape ul li:last-child {
  margin-right: 0;
}

@media screen and (max-width: 750px) {
  .rodape {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 100px;
    flex-direction: column;
  }

  .rodape ul {
    padding: 2px;
  }

  .rodape ul li {
    text-align: center;
    margin-right: 20px;
  }
}
